TZ=Asia/Shanghai

MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root123456
MYSQL_DATABASE=jsmedicine
MYSQL_USER=jsmedicine
MYSQL_PASSWORD=jsmedicine123

REDIS_PORT=6379
REDIS_PASSWORD=redis123456

AUTH_BOOTSTRAP_USERNAME=superadmin
AUTH_BOOTSTRAP_PASSWORD=
AUTH_BOOTSTRAP_REAL_NAME=系统超级管理员
AUTH_TOKEN_TTL_SECONDS=7200

MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

APP_STORAGE_PROVIDER=minio
APP_STORAGE_ENDPOINT=http://127.0.0.1:9000
APP_STORAGE_ACCESS_KEY=minioadmin
APP_STORAGE_SECRET_KEY=minioadmin123
APP_STORAGE_PUBLIC_BASE_URL=
APP_STORAGE_AVATAR_BUCKET_NAME=public
APP_STORAGE_AVATAR_MAX_FILE_SIZE_BYTES=5242880
APP_STORAGE_AVATAR_UPLOAD_URL_TTL_SECONDS=900

NGINX_PORT=8088
